name: Test
on: [push]
jobs:
  example-job:
    runs-on: macos-12
    steps:
      - name: Retrieve secret
        env:
          super_secret: ${{ secrets.SUPERSECRET }}
        run: |
          example-command "$super_secret"